body {
    background-color: #0b0b0b;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.player-container {
    width: 450px;
    height: 600px;
    background: #121212;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.7);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.tabs {
    display: flex;
    background: #1c1c1c;
}

.tab-btn {
    flex: 1;
    background: none;
    border: none;
    color: #888;
    padding: 15px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.tab-btn.active, .tab-btn:hover {
    color: #1DB954;
    background: #121212;
}

.tab-content {
    display: none;
    padding: 20px;
    flex: 1;
    z-index: 2; /* Para que el contenido flote sobre el visualizador */
}

.tab-content.active {
    display: flex;
    flex-direction: column;
}

/* El visualizador camuflado de fondo */
#visualizer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.15; /* Hace que se camufle sutilmente en el fondo negro */
    pointer-events: none;
}

.player-ui {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.btn {
    background: #1DB954;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

.controls {
    margin-top: 30px;
}

.control-btn {
    background: #ffffff;
    color: black;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
}

/* Ecualizador */
.eq-container {
    display: flex;
    justify-content: space-around;
    height: 300px;
    margin-top: 20px;
}
.slider-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.eq-slider {
    writing-mode: bt-lr; /* Para navegadores antiguos */
    appearance: slider-vertical; /* Vertical moderno */
    width: 10px;
    height: 200px;
}